<style>
    .program-header {
        font-size: 40px;
        text-align: center;
    }
</style>

<div class="program-header">
    <h2>Телепрограма 1+1 на</h2>
    <h2>{{Date}}</h2>
</div>

{{#each Costil}}
<table>
    <tr>
        {{#each this.Programs}}
        <td>
            <div class="program-header">
                <h1>{{this.Time}}</h1>
            </div>
            <img src="{{this.Image.PreviewUrl}}">
            <div class="program-header">
                <h3>{{this.Title}}</h3>
                <h4>{{this.Subtitle}}</h4>
            </div>
        </td>
        {{/each}}
    </tr>
</table>
{{/each}}